<!DOCTYPE html>                                 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POIT 2020</title>
    <style type="text/css">           
    </style>
    <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    
    <script src="static/jquery-1.11.1.min.js"></script>
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    
    <script src="static/libs/plotly-latest.min.js"></script>
    <script src="static/libs/gauge.min.js"></script>



    <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      var xRmin;
      var xRmax;
      var y1min = 0;
      var y1max = 180;
      var y2min = 0;
      var y2max = 5; 
      
      var layoutR1 = {
          plot_bgcolor: "#00000000",
          paper_bgcolor: "#00000000",
          title: 'Servo position',
          font: {
              color: "#000000"
          },
          xaxis: {
            title: '-->  t'
          },
          yaxis: {
            title: '-->  phi(t) [°]',
            range: [y1min,y1max]
          }
      };
      var layoutR2 = {
          plot_bgcolor: "#00000000",
          paper_bgcolor: "#00000000",
          title: 'Potentiometer voltage',
          font: {
              color: "#000000"
          },
          xaxis: {
            title: '-->  t'
          },
          yaxis: {
            title: '-->  U(t) [V]',
            range: [y2min,y2max]
          }
      };
      var layoutDBFL1 = {
          plot_bgcolor: "#00000000",
          paper_bgcolor: "#00000000",
          title: 'Servo position',
          font: {
              color: "#000000"
          },
          xaxis: {
            title: '-->  t'
          },
          yaxis: {
            title: '-->  phi(t) [°]',
            range: [y1min,y1max]
          }
      };
      var layoutDBFL2 = {
          plot_bgcolor: "#00000000",
          paper_bgcolor: "#00000000",
          title: 'Potentiometer voltage',
          font: {
              color: "#000000"
          },
          xaxis: {
            title: '-->  t'
          },
          yaxis: {
            title: '-->  U(t) [V]',
            range: [y2min,y2max]
          }
      };
      
      var xR = new Array();
      var yPosR = new Array();
      var yVolR = new Array();
      
      var tmp1="";
      var tmp2="";
      var tmp3="";
      var tmp4="";
      var tmp5="";
      var tmp6="";
      var tmp7="";
      var tmp8="";
      var tmp9="";
      var tmp10="";
      
      var x = new Array();
      var y = new Array();
      var traceR1;
      var traceR2;
      var traceDB1;
      var traceDB2;
      var traceFL1;
      var traceFL2;
      
      var dbMax;
      var flMax;
      var dbMaxB;
      var flMaxB;
      var dark = 0;
      var grafyR = 0;
      var grafyDB = 0;
      var grafyFL = 0;
      var rad = 0;
      var kons = 0.01745329252;
      
      var gauge = new RadialGauge({
          renderTo: 'gaugediv',
          width: 300,
          height: 300,
          units: "[°]",
          minValue: 0,
          maxValue: 180,
          majorTicks: [
              "0",
              "30",
              "60",
              "90",
              "120",
              "150",
              "180"
          ],
          minorTicks: 3,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 30,
                  "color": "rgba(200, 50, 50, .75)"
              },
              {
                  "from": 150,
                  "to": 180,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#00000000",
          colorNumbers: "#222222",
          colorUnits: "#222222",
          colorMajorTicks: "#000000",
          colorMinorTicks: "#444444",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1000,
          animationRule: "linear",
          ticksAngle: 180,
          startAngle: 90,
          valueDec: 0,
          valueInt: 3
      });
      gauge.draw();
      
      
      
      $('form#record').submit(function(event) {
          var $link = "/dbdata/"+$('#value').val();
      $.ajax({
        type: "POST",
        url: $link,
        success:function(data) 
        { console.log(data);  
          data = JSON.parse(data);
          console.log(data);    
          n = Object.keys(data).length;
          console.log(n);
        
          xl = [];
          yPosl = [];
          yVoll = [];

          for (var i=0; i< n; i++){
            xl.push(data[i].x);
            yPosl.push(data[i].yPos);
            yVoll.push(data[i].yVol);}
          traceDB1 = [{
              x: xl,
              y: yPosl,
              name:"Position",
              mode:'lines+markers',
              marker: {
                color: 'rgb(204,0,0)',
                size: 8
              },
              line: {
                color: 'rgb(255,0,0)',
                width: 1,
                shape: 'spline'
              }
          }];
          traceDB2 = [{
              x: xl,
              y: yVoll,
              name:"Voltage",
              mode:'lines+markers',
              marker: {
                color: 'rgb(204,102,0)',
                size: 8
              },
              line: {
                color: 'rgb(255,128,0)',
                width: 1,
                shape: 'spline'
              }
          }];
          if (rad == 1) {
            for (var i = 0; i < traceDB1[0].y.length; i++) {
              traceDB1[0].y[i] = traceDB1[0].y[i] * kons;
            }
          }
          Plotly.newPlot($('#plotdivDB1')[0], traceDB1,layoutDBFL1);
          Plotly.newPlot($('#plotdivDB2')[0], traceDB2,layoutDBFL2);
          if (grafyDB == 0) {
            grafyDB = 1;
          }
        }
      }).done(function( o ) {

      });
          return false; });
      
      
      
      $('form#record2').submit(function(event) {
          var $link = "/fldata/"+$('#value2').val();
      $.ajax({
        type: "GET",
        url: $link,
        success:function(data) 
        { console.log(data);  
          data = JSON.parse(data);
          console.log(data);    
          n = Object.keys(data).length;
          console.log(n);
        
          xl = [];
          yPosl = [];
          yVoll = [];

          for (var i=0; i< n; i++){
            xl.push(data[i].x);
            yPosl.push(data[i].yPos);
            yVoll.push(data[i].yVol);}
          traceFL1 = [{
              x: xl,
              y: yPosl,
              name:"Position",
              mode:'lines+markers',
              marker: {
                color: 'rgb(0,102,204)',
                size: 8
              },
              line: {
                color: 'rgb(0,128,255)',
                width: 1,
                shape: 'spline'
              }
          }];
          traceFL2 = [{
              x: xl,
              y: yVoll,
              name:"Voltage",
              mode:'lines+markers',
              marker: {
                color: 'rgb(0,204,204)',
                size: 8
              },
              line: {
                color: 'rgb(0,255,255)',
                width: 1,
                shape: 'spline'
              }
          }];
          if (rad == 1) {
            for (var i = 0; i < traceFL1[0].y.length; i++) {
              traceFL1[0].y[i] = traceFL1[0].y[i] * kons;
            }
          }
          Plotly.newPlot($('#plotdivFL1')[0], traceFL1,layoutDBFL1);
          Plotly.newPlot($('#plotdivFL2')[0], traceFL2,layoutDBFL2);
          if (grafyFL == 0) {
            grafyFL = 1;
          }
        }
      }).done(function( o ) {

      });
          return false; });
      
      
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        tmp1=tmp2;
        tmp2=tmp3;
        tmp3=tmp4;
        tmp4=tmp5;
        tmp5=tmp6;
        tmp6=tmp7;
        tmp7=tmp8;
        tmp8=tmp9;
        tmp9=tmp10;
        var yPosTmp = msg.dataPos
        if (rad == 1) {
          yPosTmp = yPosTmp * kons;
          yPosTmp = yPosTmp.toFixed(3);
          tmp10='Received #'+msg.count+', Position: '+yPosTmp+' rad, Voltage: '+msg.dataVol+' V<br>';
        }
        else {
          tmp10='Received #'+msg.count+', Position: '+yPosTmp+'°, Voltage: '+msg.dataVol+' V<br>';
        }
        $('#log1').html(tmp1);
        $('#log2').html(tmp2);
        $('#log3').html(tmp3);
        $('#log4').html(tmp4);
        $('#log5').html(tmp5);
        $('#log6').html(tmp6);
        $('#log7').html(tmp7);
        $('#log8').html(tmp8);
        $('#log9').html(tmp9);
        $('#log10').html(tmp10);
        if (msg.count < 21) {
          xRmin = 0;
        }
        else {
          xRmin = msg.count - 21
        }
        xRmax = msg.count;
        xR.push(msg.count);
        yPosR.push(yPosTmp);
        yVolR.push(msg.dataVol);
        traceR1 = [{
            x: xR,
            y: yPosR,
            name:"Position",
            mode:'lines+markers',
            marker: {
              color: 'rgb(0,204,0)',
              size: 8
            },
            line: {
              color: 'rgb(0,255,0)',
              width: 1,
              shape: 'spline'
              }
        }];
        traceR2 = [{
            x: xR,
            y: yVolR,
            name:"Voltage",
            mode:'lines+markers',
            marker: {
              color: 'rgb(102,204,0)',
              size:8 
            },
            line: {
              color: 'rgb(128,255,0)',
              width: 1,
              shape: 'spline'
            }
        }];
        layoutR1.xaxis.range = [xRmin,xRmax]
        layoutR2.xaxis.range = [xRmin,xRmax]
        Plotly.newPlot($('#plotdivR1')[0], traceR1,layoutR1);
        Plotly.newPlot($('#plotdivR2')[0], traceR2,layoutR2);
        if (grafyR == 0) {
          grafyR = 1;
        }
        gauge.value = yPosTmp;
      });
      socket.on('my_response_max', function(msg) {
        dbMaxI = document.getElementById("value");
        flMaxI = document.getElementById("value2");
        dbMaxB = document.getElementById("valueB");
        flMaxB = document.getElementById("value2B");
        if (msg.dbMax > 0) {
          dbMaxI.setAttribute("max", msg.dbMax);
          dbMaxI.setAttribute("placeholder", "Select No. from DB");
          dbMaxI.removeAttribute("disabled", "");
          dbMaxB.removeAttribute("disabled", "");
        }
        else {
          dbMaxI.setAttribute("placeholder", "No data in database!");
          dbMaxI.setAttribute("disabled", "");
          dbMaxB.setAttribute("disabled", "");
        }
        if (msg.flMax > 0) {
          flMaxI.setAttribute("max", msg.flMax);
          flMaxI.setAttribute("placeholder", "Select No. from file");
          flMaxI.removeAttribute("disabled", "");
          flMaxB.removeAttribute("disabled", "");
        }
        else {
          flMaxI.setAttribute("placeholder", "No data in file!");
          flMaxI.setAttribute("disabled", "");
          flMaxB.setAttribute("disabled", "");
        }
      });
      socket.on('my_response_set', function(msg) {
        if (rad == 1) {
          var manInputMsg = msg.dataPos * kons;
          console.log('Received #'+msg.count+', Servo set to: '+manInputMsg+' rad');
        }
        else {
          console.log('Received #'+msg.count+', Servo set to: '+msg.dataPos+'°');
        }
      });
      socket.on('my_response_cd', function(msg) {
        console.log('Received #'+msg.count+', '+msg.dataPos);
      });
        
        
        
      $('form#emit').submit(function(event) {
        var manInput = $('#emit_value').val();
        if (rad == 1) {
          manInput = parseInt(Math.round(manInput / kons));
        }
        socket.emit('my_event', {value: manInput});
        return false; });
      $('#buttonValOC').click(function(event) {
          socket.emit('oc_event', {value: $('#buttonValOC').val()});
          if ($(this).val() == "open") {
            $(this).val("close");
            $(this).text("Close");
          }
          else {
            $(this).val("open");
            $(this).text("Open");
            if ($('#buttonValPR').val() == "pause") {
              $('#buttonValPR').text("Start");
              $('#buttonValPR').val("resume");
            }
            if ($('#buttonValDB').val() == "write") {
              $('#buttonValDB').text("Record to DB");
              $('#buttonValDB').val("record");
            }
            if ($('#buttonValFL').val() == "write") {
              $('#buttonValFL').text("Record to file");
              $('#buttonValFL').val("record");
            }
          }
          return false; });
      $('#buttonValPR').click(function(event) {
          socket.emit('pr_event', {value: $('#buttonValPR').val()});
          if ($(this).val() == "resume") {
            $(this).val("pause");
            $(this).text("Pause");
          }
          else {
            $(this).val("resume");
            $(this).text("Resume");
          }
          return false; });
      $('#buttonValDB').click(function(event) {
          socket.emit('db_event', {value: $('#buttonValDB').val()});
          if ($(this).val() == "record") {
            $(this).val("write");
            $(this).text("Write to DB");
          }
          else {
            $(this).val("record");
            $(this).text("Record to DB");
          }
          return false; });
      $('#buttonValFL').click(function(event) {
          socket.emit('fl_event', {value: $('#buttonValFL').val()});
          if ($(this).val() == "record") {
            $(this).val("write");
            $(this).text("Write to file");
          }
          else {
            $(this).val("record");
            $(this).text("Record to file");
          }
          return false; });
      $('#buttonValDark').click(function(event) {
          if (dark == 0) {
            gauge.update({
              colorNumbers: "#CCCCCC",
              colorUnits: "#CCCCCC",
              colorMajorTicks: "#DDDDDD",
              colorMinorTicks: "#AAAAAA"
            });
            layoutR1.font.color = "#DDDDDD";
            layoutR2.font.color = "#DDDDDD";
            layoutDBFL1.font.color = "#DDDDDD";
            layoutDBFL2.font.color = "#DDDDDD";
            dark = 1;
            $(this).text("Light mode");
            $(this).val("dark");
          }
          else {
            gauge.update({
              colorNumbers: "#222222",
              colorUnits: "#222222",
              colorMajorTicks: "#000000",
              colorMinorTicks: "#444444"
            });
            layoutR1.font.color = "#000000";
            layoutR2.font.color = "#000000";
            layoutDBFL1.font.color = "#000000";
            layoutDBFL2.font.color = "#000000";
            dark = 0;
            $(this).text("Dark mode");
            $(this).val("light");
          }
          if (grafyR == 1) {
            Plotly.newPlot($('#plotdivR1')[0], traceR1,layoutR1);
            Plotly.newPlot($('#plotdivR2')[0], traceR2,layoutR2);
          }
          if (grafyDB == 1) {
            Plotly.newPlot($('#plotdivDB1')[0], traceDB1,layoutDBFL1);
            Plotly.newPlot($('#plotdivDB2')[0], traceDB2,layoutDBFL2);
          }
          if (grafyFL == 1) {
            Plotly.newPlot($('#plotdivFL1')[0], traceFL1,layoutDBFL1);
            Plotly.newPlot($('#plotdivFL2')[0], traceFL2,layoutDBFL2);
          }
          return false; });
          $('#buttonValRad').click(function(event) {
          if (rad == 0) {
            gauge.update({
              units: "[rad]",
              maxValue: 180 * kons,
              majorTicks: [
                  "0",
                  "0.524",
                  "1.047",
                  "1.571",
                  "2.094",
                  "2.618",
                  "3.142"
              ],
              highlights: [
                {
                  "from": 0,
                  "to": 0.524,
                  "color": "rgba(200, 50, 50, .75)"
                },
                {
                  "from": 2.618,
                  "to": 3.142,
                  "color": "rgba(200, 50, 50, .75)"
                }
              ],
              valueDec: 3,
              valueInt: 1,
              value: gauge.value * kons
            });
            if (grafyR == 1) {
              for (var i = 0; i < traceR1[0].y.length; i++) {
              traceR1[0].y[i] = traceR1[0].y[i] * kons;
              }
            }
            if (grafyDB == 1) {
              for (var i = 0; i < traceDB1[0].y.length; i++) {
              traceDB1[0].y[i] = traceDB1[0].y[i] * kons;
              }
            }
            if (grafyFL == 1) {
              for (var i = 0; i < traceFL1[0].y.length; i++) {
              traceFL1[0].y[i] = traceFL1[0].y[i] * kons;
              }
            }
            layoutR1.yaxis.range = [y1min, y1max * kons];
            layoutR1.yaxis.title = '-->  phi(t) [rad]';
            layoutDBFL1.yaxis.range = [y1min, y1max * kons];
            layoutDBFL1.yaxis.title = '-->  phi(t) [rad]';
            rad = 1;
            $(this).text("Degrees");
            $(this).val("rad");
          }
          else {
            gauge.update({
              units: "[°]",
              maxValue: 180,
              majorTicks: [
                  "0",
                  "30",
                  "60",
                  "90",
                  "120",
                  "150",
                  "180"
              ],
              highlights: [
                {
                  "from": 0,
                  "to": 30,
                  "color": "rgba(200, 50, 50, .75)"
                },
                {
                  "from": 150,
                  "to": 180,
                  "color": "rgba(200, 50, 50, .75)"
                }
              ],
              valueDec: 0,
              valueInt: 3,
              value: gauge.value / kons
            });
            if (grafyR == 1) {
              for (var i = 0; i < traceR1[0].y.length; i++) {
              traceR1[0].y[i] = traceR1[0].y[i] / kons;
              }
            }
            if (grafyDB == 1) {
              for (var i = 0; i < traceDB1[0].y.length; i++) {
              traceDB1[0].y[i] = traceDB1[0].y[i] / kons;
              }
            }
            if (grafyFL == 1) {
              for (var i = 0; i < traceFL1[0].y.length; i++) {
              traceFL1[0].y[i] = traceFL1[0].y[i] / kons;
              }
            }
            layoutR1.yaxis.range = [y1min, y1max];
            layoutR1.yaxis.title = '-->  phi(t) [°]';
            layoutDBFL1.yaxis.range = [y1min, y1max];
            layoutDBFL1.yaxis.title = '-->  phi(t) [°]';
            rad = 0;
            $(this).text("Radians");
            $(this).val("deg");
          }
          if (grafyR == 1) {
            Plotly.newPlot($('#plotdivR1')[0], traceR1,layoutR1);
            Plotly.newPlot($('#plotdivR2')[0], traceR2,layoutR2);
          }
          if (grafyDB == 1) {
            Plotly.newPlot($('#plotdivDB1')[0], traceDB1,layoutDBFL1);
            Plotly.newPlot($('#plotdivDB2')[0], traceDB2,layoutDBFL2);
          }
          if (grafyFL == 1) {
            Plotly.newPlot($('#plotdivFL1')[0], traceFL1,layoutDBFL1);
            Plotly.newPlot($('#plotdivFL2')[0], traceFL2,layoutDBFL2);
          }
          return false; });
      });
    </script>
    <style>
      .t3 {
        font-size: 18px;
      }
      .button {
        padding:0;
        width: 100px;
        height: 50px;
        text-align: center;
        font-family: verdana;
        font-size: 17px;
        border-radius: 7px;
        display: inline-block;
        margin: 8px 2px;
        cursor: pointer;
        outline: none;
        transition-duration: 0.5s;
      }
      .button:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
      }
      .button:active {
        transform: translateY(3px);
      }
      .button1 {
        background-color: white;
        color: black;
        border: 3px solid #008CBA;
      }
      .button1:hover {
        background-color: #008CBA;
        color: white;
      }
      .button1.dark-mode {
        background-color: #008CBA;
        color: white;
        border: 3px solid #008CBA;
      }
      .button1.dark-mode:hover {
        background-color: white;
        color: black;
      }
      .button2 {
        background-color: white;
        color: black;
        border: 3px solid #4CAF50;
      }
      .button2:hover {
        background-color: #4CAF50;
        color: white;
      }
      .button2.dark-mode {
        background-color: #4CAF50;
        color: white;
        border: 3px solid #4CAF50;
      }
      .button2.dark-mode:hover {
        background-color: white;
        color: black;
      }
      .button3 {
        background-color: white;
        color: black;
        border: 3px solid #f44336;
        font-size: 13px;
      }
      .button3:hover {
        background-color: #f44336;
        color: white;
      }
      .button3.dark-mode {
        background-color: #f44336;
        color: white;
        border: 3px solid #f44336;
      }
      .button3.dark-mode:hover {
        background-color: white;
        color: black;
      }
      .button4 {
        background-color: white;
        color: black;
        border: 3px solid #555555;
      }
      .button4:hover {
        background-color: #555555;
        color: white;
      }
      .button4.dark-mode {
        background-color: #555555;
        color: white;
        border: 3px solid #555555;
      }
      .button4.dark-mode:hover {
        background-color: white;
        color: black;
      }
      .button5 {
        background-color: white;
        color: black;
        border: 3px solid #a7a7a7;
        font-size: 15px;
      }
      .button5:hover {
        background-color: #a7a7a7;
        color: black;
      }
      .button5.dark-mode {
        background-color: #a7a7a7;
        color: black;
        border: 3px solid #a7a7a7;
      }
      .button5.dark-mode:hover {
        background-color: white;
        color: black;
      }
      .input {
        width: 200px;
        height: 30px;
        font-family: verdana;
        text-align: center;
        border: 3px solid #a7a7a7;
        border-radius: 7px;
        margin: 8px 2px;
      }
      body {
        font-family: verdana;
        background-color: white;
        color: black;
        transition-duration: 0.5s;
      }
      .dark-mode {
        background-color: #333333;
        color: white;
      }
      .tab {
        overflow: hidden;
        border: 1px solid #a7a7a7;
        background-color: #f1f1f1;
        transition-duration: 0.5s;
      }
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-family: verdana;
        font-size: 17px;
      }
      .tab button:hover {
        background-color: #a7a7a7;
        transition-duration: 0.5s;
      }
      .tab button.active {
        background-color: #008CBA;
        color: white;
        transition-duration: 0.5s;
      }
      .tab.dark-mode {
        border: 1px solid #5d5d5d;
        background-color: #696969;
      }
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: none;
        animation: fadeEffect 1s;
      }
      @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      .hidden {
        opacity: 0;
      }
      img {
        position: absolute;
        opacity: 1;
        transition: opacity 0.5s linear;
      }
      .flashingBut {
        animation: fade;
        animation-name: flashing;
        animation-duration: 1.5s;
        animation-timing-funkcion: ease-in-out;
        animation-iteration-count: infinite;
      }
      @keyframes flashing {
        from {opacity: 1.00;}
        50% {opacity: 0.21;}
        to {opacity: 1.00;}
      }
    </style>
  </head>
  <body>
      <div class="tab" id="tab">
        <button class="tablinks" onclick="openTab(event, 'tabs-1')" id="defaultOpen">Overview: Real-time data</button>
        <button class="tablinks" onclick="openTab(event, 'tabs-2')">Database and file content</button>
        <button id="buttonValDark" class="tablinks" onclick="darkToggle()" style="float: right;" value="light">Dark mode</button>
        <button id="buttonValRad" class="tablinks" onclick="raddeg()" style="float: right;" value="deg">Radians</button>
        <script>
          function raddeg() {
            var manual = document.getElementById("emit_value")
            if (manual.step == "1") {
              manual.step = "0.001";
              manual.max= "3.142";
            }
            else {
              manual.step = "1";
              manual.max= "180";
            }
          }
        </script>
      </div>
      <div class="tabcontent" id="tabs-1">
        <table width="1350"><tbody>
          <tr height="85">
            <td colspan="2" width="350">
              <div id="container">
                <!-- <img class="image1" src="http://www.dzonatan.szm.com/logouamt.png" width="350">
                <img class="hidden image2" src="http://www.dzonatan.szm.com/logouamt4.jpg" width="350"> -->
              </div>
            </td>
            <td colspan="2" width="1000" align="center">
              <h1>Position of servomotor</h1>
            </td>
          </tr>
        </tbody></table>
        <table width="1350"><tbody>
          <tr>
            <td colspan="3" width="350">
            </td>
            <td colspan="3" width="500" align="center">
              <h2 align="center">Send:</h2>
            </td>
            <td colspan="3" width="500" align="center">
              <h2 align="center">Receive:</h2>
            </td>
          </tr>
        </tbody></table>
        <table width="1350"><tbody>
            <tr height="230">
              <td colspan="3" width="350" style="text-align:center;vertical-align:center;padding:0">
                <form><button id="buttonValOC" class="button button1" type="submit" value="open" onclick="stopBlink()">Open</button></form>
                <form><button id="buttonValPR" class="button button2" type="submit" value="resume">Start</button></form>
                <form><button id="buttonValDB" class="button button3" type="submit" value="record" onclick="but3toggle()">Record to DB</button>
                <button id="buttonValFL" class="button button3" type="submit" value="record" onclick="but3ftoggle()">Record to file</button></form>
                <script>
                  function but3toggle() {
                    var but3 = document.getElementById("buttonValDB")
                    but3.classList.toggle("flashingBut");
                    var drk = document.getElementById("buttonValDark");
                    if (drk.value == "light") {
                      but3.classList.toggle("dark-mode");
                    }
                  }
                  function but3ftoggle() {
                    var but3f = document.getElementById("buttonValFL")
                    but3f.classList.toggle("flashingBut");
                    var drk = document.getElementById("buttonValDark");
                    if (drk.value == "light") {
                      but3f.classList.toggle("dark-mode");
                    }
                  }
                  function stopBlink() {
                    var cls = document.getElementById("buttonValOC");
                    var but3 = document.getElementById("buttonValDB");
                    var but3f = document.getElementById("buttonValFL");
                    var drk = document.getElementById("buttonValDark");
                    but3.classList.remove("flashingBut");
                    but3f.classList.remove("flashingBut");
                    if (drk.value == "light") {
                      but3.classList.remove("dark-mode");
                      but3f.classList.remove("dark-mode");
                    }
                  }
                </script>
              </td>
              <td colspan="3" width="500" style="text-align:center;vertical-align:center;padding:0">
                <form id="emit" method="POST" action='#'>
                  <form><input class="input" type="number" min="0" max="180" step="1" name="emit_value" id="emit_value" placeholder="Manual set"><br>
                  <input class="button button4" style="width:100px;height:50px" type="submit" value="Send"></form>
                  <script>
                    function darkToggle() {
                      var element = document.body;
                      element.classList.toggle("dark-mode");
                      var but3 = document.getElementById("buttonValDB")
                      var but3f = document.getElementById("buttonValFL")
                      var array_but = document.getElementsByClassName("button");
                      for(var i = 0, len = array_but.length; i < len; i = i + 1) {
                        array_but[i].classList.toggle("dark-mode");
                      }
                      if (but3.value == "write") {
                        but3.classList.add("dark-mode");
                      }
                      if (but3f.value == "write") {
                        but3f.classList.add("dark-mode");
                      }
                      var array_tab = document.getElementsByClassName("tab");
                        for(var i = 0, len = array_tab.length; i < len; i = i + 1) {
                          array_tab[i].classList.toggle("dark-mode");
                        }
                      $('img').toggleClass('hidden');
                    }
                  </script>
                </form>
              </td>
              <td colspan="3" width="500" style="text-align:center;vertical-align:top;padding:0">
                <div class="t3" id="log1"></div>
                <div class="t3" id="log2"></div>
                <div class="t3" id="log3"></div>
                <div class="t3" id="log4"></div>
                <div class="t3" id="log5"></div>
                <div class="t3" id="log6"></div>
                <div class="t3" id="log7"></div>
                <div class="t3" id="log8"></div>
                <div class="t3" id="log9"></div>
                <div class="t3" id="log10"></div>
              </td>
            </tr>
        </tbody></table>
        <table width="1350"><tbody>
            <tr height="370">
              <td colspan="3" width="350" align="center" style="vertical-align:bottom;padding:0">
                <canvas id="gaugediv"></canvas>
              </td>
              <td colspan="3" align="center" style="vertical-align:top;padding:0">
                <div id="plotdivR1" style="width:500px;height:300px;"></div>
              </td>
              <td colspan="3" align="center" style="vertical-align:top;padding:0">
                <div id="plotdivR2" style="width:500px;height:300px;"></div>
              </td>
            </tr>
        </tbody></table>
      </div>
      <div class="tabcontent" id="tabs-2">
        <table width="1350"><tbody>
          <tr height="85">
            <td colspan="2" width="350">
              <!-- <img id="img2" src="http://www.dzonatan.szm.com/logouamt.png" width="350"> -->
            </td>
            <td colspan="2" width="1000" align="center">
            </td>
          </tr>
        </tbody></table>
        <table width="1350"><tbody>
            <tr height="300">
              <td colspan="3" width="350" style="text-align:left;vertical-align:center;padding:0">
                <h2 style="text-align:left;vertical-align:center;padding:0">Data from database:</h2>
                <form id="record" method="POST" action='#'>
                  <input class="input" type="number" min="1" name="value" id="value" placeholder="Select No. from DB">
                  <input class="button button4" id="valueB" style="width:50px;height:37px;position:relative;top:2px" type="submit" value="Go">
                </form>
              </td>
              <td colspan="3" align="center">
                <div id="plotdivDB1" style="width:500px;height:300px;"></div>
              </td>
              <td colspan="3" align="center">
                <div id="plotdivDB2" style="width:500px;height:300px;"></div>
              </td>
        </tbody></table>
        <table width="1350"><tbody>
            <tr height="300">
              <td colspan="3" width="350" style="text-align:left;vertical-align:center;padding:0">
                <h2 style="text-align:left;vertical-align:center;padding:0">Data from file:</h2>
                <form id="record2" method="POST" action='#'>
                  <input class="input" type="number" min="1" name="value2" id="value2" placeholder="Select No. from File">
                  <input class="button button4" id="value2B" style="width:50px;height:37px;position:relative;top:2px" type="submit" value="Go">
                </form>
              </td>
              <td colspan="3" align="center">
                <div id="plotdivFL1" style="width:500px;height:300px;"></div>
              </td>
              <td colspan="3" align="center">
                <div id="plotdivFL2" style="width:500px;height:300px;"></div>
              </td>
            </tr>
        </tbody></table>
      </div>
    <script>
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
    <script>
      document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>
